<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loadMessage</servlet-name>
    <servlet-class>com.test.servlet.loadMessage</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewAccount</servlet-name>
    <servlet-class>com.test.servlet.NewAccount</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loadMessage</servlet-name>
    <url-pattern>/servlet/loadMessage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NewAccount</servlet-name>
    <url-pattern>/servlet/NewAccount</url-pattern>
  </servlet-mapping>
</web-app>